.App {
  font-family: sans-serif;
  text-align: center;
}

/*
Note: the `.modal-dialog` selector is used to constrain nested classes
*/
.modal-dialog {
  &.dark-mode {
    .modal-content { background: #333; color: #fff; }
    .modal-header { text-align: center; }
    .modal-body { margin: 1.2rem; }
  }
  &.no-header {
    .modal-header { display: none; }
  }
  &.spaced-buttons {
    .modal-footer { justify-content: space-between; }
  }
  &.fluid-width {
    max-width: 80%;
  }
}

.navbar {
  overflow: hidden;
  justify-content: start;
  &.fixed-bottom {
    padding: 1em 0.25em;
  }
}
