.App {
  font-family: sans-serif;
  text-align: center;
  overflow-x: hidden;
}

/*
Note: the `.modal-dialog` selector is used to constrain nested classes
*/
.modal-dialog {
  &.dark-mode {
    .modal-content { background: #333; color: #fff; }
    .modal-header { text-align: center; }
    .modal-body { margin: 1.2rem; }
    /* override the card header text color when it's inside .dark-mode */
    .card-header { color: #333; }
  }
  &.no-header {
    .modal-header { display: none; }
  }
  &.spaced-buttons {
    .modal-footer { justify-content: space-between; }
  }
  &.fluid-width {
    max-width: 80%;
  }
}

.navbar {
  overflow: hidden;
  justify-content: space-between;
  margin-top: 60px;
  font-size: 1.3em;

  &.fixed-bottom { padding: 1em 1.25em; }
}

.card {
  &.cat-box { margin: 0.5em 0 0.25em 0; }
}
